VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvZml6aWl1b2loZWp4dXFvdWp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1OTQ1OTMsImV4cCI6MjA5NDE3MDU5M30.qP9ISYghDl2tpOOeTgAdvnVx98TI9H5pYnYN4VY0IT4
VITE_SUPABASE_URL=https://iofiziiuoihejxuqoujt.supabase.co
ANTHROPIC_API_KEY=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
RESEND_API_KEY=re_MrQiVER9_4bNtr1Yhi4WiB12ocMyev1tX
